<h1>New game</h1>
<div class="container">
  <% @letters.each do |letter| %>
    <div class="letter">
      <span>
        <%= letter %>
      </span>
    </div>
  <% end %>
</div>
<form action="/score" method="POST">
  <label for="word">What is the longest word you can find?</label>
  <div id="full-input">
    <input type="text" name="word" id="word">
    <input type="submit" value="play" id="submit">
  </div>
  <%= hidden_field_tag 'letters', @letters.join %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
